<!DOCTYPE html>
<html lang="en">
  <head>
      <title>以图搜图</title>
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="style.css">
      <script src='http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js'></script>
      <script src='/bootstrap/js/bootstrap.min.js'></script>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
      <div>
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
  </body>
</html>
